extends ../layout.pug
block contenido
  h1= company.name
  h2= company.nit
  h2= company.place_fundation
  h1= company.email
  h1= company.tel
  h1= company.username
  h2= company.nickname
  h2= company.fundation
  h1= company.TypeOfCompany
  h1= company.residence
  h1= company.class_company
  h2= company.tel_home
  h2 se registro el dia #{company.singUpDate}
